<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>{{ company }}</h3>
            <p>
             {{ address|safe }}
              <strong>Phone:</strong> {{ tel }}<br>
              <strong>Email:</strong> {{ email }}<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">Data Analytics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">Market Research</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">Project Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">Perception Surveys</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">Research Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Sign up for our newsletter to get the latest insights, tips and trends in Branding, Naming and Innovation.

            </p>
            <form action="{% url 'subscribe' %}" method="post">
              {% csrf_token %}
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>{{ company }}</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
              Designed by <a href="https://stemgon.co.za/">Stemgon</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->
